<% content_for :title do %><%= @title.html_safe %><% end %>
<div class="row">
  <div class="col-md-4">
    <%= tags(@origin) %>
  </div>
</div>

<div class="row stack">
  <div class="col-md-4">
    <h2>課題</h2>
    <%= markdown(@problem) %>
  </div>
  <div class="col-md-4">
    <h2>解決策</h2>
    <%= markdown(@solution) %>
  </div>
  <div class="col-md-4">
    <h2>解説</h2>
    <%= markdown(@explanation) %>
  </div>

</div>
<div class="row stack">
  <div class="col-md-4">
    <h2>URL</h2>
    <div><h4>URL1</h4>
      <% if @url1 %>
        <%= @url1.html_safe %>
      <% end %>
    </div>
    <div><h4>URL2</h4>
      <% if @url2 %>
        <%= @url2.html_safe %>
      <% end %>
    </div>
    <div><h4>URL3</h4>
      <% if @url3 %>
        <%= @url3.html_safe %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <h2>画像</h2>
    <dev><h4>picture1</h4>
      <% if @picture1 %>
        <%= @picture1 %>
      <% end %>
    </dev>
    <dev><h4>picture2</h4>
      <% if @picture2 %>
        <%= @picture2 %>
      <% end %>
    </dev>
    <dev><h4>picture3</h4>
      <% if @picture3 %>
      <%= @picture3 %>
      <% end %>
    </dev>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to '<span class="glyphicon glyphicon-th-list"></span> 一覧に戻る'.html_safe, stacks_path, class: "btn btn-default" %>
    <%= link_to '最新の内容に戻る', "/stacks/#{params[:id]}", class: "btn btn-default" %>
    <%= link_to '編集履歴に戻る', history_path, class: "btn btn-default" %>
  </div>
</div>
