<% content_for :title do %><%= @stack.title %>更新履歴<% end %>

<form class="form-inline">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= text_field_tag 'q', @q, class: "form-control text_field" %>
      <button class="btn btn-default">検索</button>
    </div>
  </div>
</form>
<%= paginate @history %>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>更新日</th>
    </tr>
  </thead>
  <tbody>
    <% @history.each_with_index do |history, index| %>
      <tr>
        <% if index == @count %>
        <% else %>
          <td width="30px"><%= @count - index %></td>
          <td><%= link_to history.title, "#{history_path}/#{index}" %></td>
          <td><%= history.updated_at.to_s.delete("UTC") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @history %>
