<% content_for :title do %><%= @stack.title %>更新履歴<% end %>

<%= paginate @history %>
<table class="table">
  <thead>
    <tr>
      <th width="30px">ID</th>
      <th>タイトル</th>
      <th>更新日</th>
    </tr>
  </thead>
  <tbody>
    <% @history.each_with_index do |history, index| %>
      <tr>
          <td><%= @count - index %></td>
          <td><%= link_to history.title, "#{history_path}/#{index}" %></td>
          <td><%= history.updated_at.to_s.delete("UTC") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @history %>
