<%= form_for(@stack) do |f| %>
  <% if @stack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stack.errors.count, "error") %> prohibited this stack from being saved:</h2>

      <ul>
      <% @stack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :problem %>
    <%= f.text_area :problem, class: "form-control", rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.label :solution %>
    <%= f.text_area :solution, class: "form-control", rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.label :explanation %>
    <%= f.text_area :explanation, class: "form-control", rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.label :url1 %>
    <%= f.text_field :url1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :url2 %>
    <%= f.text_field :url2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :url3 %>
    <%= f.text_field :url3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :picture1 %>
    <%= f.file_field :picture1, class: "form-control" %>
    <small>PNG only</small>
  </div>
  <div class="form-group">
    <%= f.label :picture2 %>
    <%= f.file_field :picture2, class: "form-control" %>
    <small>PNG only</small>
  </div>
  <div class="form-group">
    <%= f.label :picture3 %>
    <%= f.file_field :picture3, class: "form-control" %>
    <small>PNG only</small>
  </div>
  <div class="actions">
    <%= f.submit content_for(:submit_button), class: "btn btn-primary" %>
  </div>
  <br/>
    </div>
  </div>
<% end %>
