<% content_for :title do %>ホーム<% end %>

<div class="row">
  <div class="col-sm-12">
    <p>
      <%= @user.email %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %>
    </p>
    <table class="table">
      <tbody>
        <% @user.stacks.each do |stack| %>
          <tr>
            <td>
              <%= link_to stack.title, stack %><br/>
              <% stack.stacks_tags.each do |t| %>
                <%= link_to t.name, "#", class: "label label-default" %>
              <% end %>
            </td>
            <td>
              <%= link_to '編集', "/stacks/#{stack.id}/edit", class: "btn btn-default" %>
              <%= link_to '削除', "/stacks/#{stack.id}/destroy", class: "btn btn-default" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Stack', new_stack_path, class: "btn btn-primary" %>
  </div>
</div>
