<% content_for :title do %>Stacks<% end %>

<form>
  <div class="panel panel-default">
    <div class="panel-body">
      タグ指定で絞り込み
      tag: <%= @tag %>,
      keyword: <%= @keyword %>
    </div>
  </div>
</form>
<%= paginate @stacks %>
<table class="table">
  <tbody>
    <% @stacks.each do |stack| %>
      <tr>
        <td>
          <%= link_to stack.title, stack %><br/>
          <%= tags(stack) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @stacks %>
