<% content_for :title do %>スタック<% end %>

<form class="form-inline">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= text_field_tag 'q', @q, class: "form-control text_field" %>
      <button class="btn btn-default">検索</button>
    </div>
  </div>
</form>
<%= paginate @stacks %>
<table class="table">
  <tbody>
    <% @stacks.each do |stack| %>
      <tr>
        <td>
          <%= link_to stack.title, stack %><br/>
          <%= tags(stack) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @stacks %>
