<% content_for :title do %><%= @stack.title %><% end %>
<div class="row">
  <div class="col-md-4">
    <%= tags(@stack) %>
  </div>
</div>

<div class="row stack">
  <div class="col-md-4">
    <h2>課題</h2>
    <%= markdown(@stack.problem) %>
  </div>
  <div class="col-md-4">
    <h2>解決策</h2>
    <%= markdown(@stack.solution) %>
  </div>
  <div class="col-md-4">
    <h2>解説</h2>
    <%= markdown(@stack.explanation) %>
    <ul>
      <% if @stack.url1 %>
      <li><%= @stack.url1 %></li>
      <% end %>
      <% if @stack.url2 %>
      <li><%= @stack.url2 %></li>
      <% end %>
      <% if @stack.url3 %>
      <li><%= @stack.url3 %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if current_user %>
      <%= link_to '編集', edit_stack_path(@stack),class: "btn btn-default" %>
    <% else %>
      <%= link_to '<span class="glyphicon glyphicon-lock"></span> 編集'.html_safe, edit_stack_path(@stack),class: "btn btn-default" %>
    <% end %>
    <%= link_to '<span class="glyphicon glyphicon-th-list"></span> 一覧に戻る'.html_safe, stacks_path, class: "btn btn-default" %>
  </div>
</div>
