<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "" %> :LM Stacks</title>
  <meta name="description" content=""/>
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="col-md-12">
        <h1><%= content_for(:title) || "無題" %></h1>
        <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-warning"><%= alert %></p>
        <% end %>
      </div>
    </div>
    <%= yield %>
    <%= render 'layouts/google_ad' %>
    <footer class="footer">
      <a href="http://www.lumber-mill.co.jp/notes/">LumberMill, Inc.</a>
    </footer>
  </div>
</body>
</html>
